<div style="background-color: grey">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro atque soluta autem vitae magnam incidunt exercitationem ad labore nostrum neque dolore repudiandae officia, quibusdam quaerat mollitia cupiditate in illo tempora.</p>

<app-childcomponent></app-childcomponent>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In ipsum quo, vitae possimus nulla aliquam est expedita repudiandae eum, quae dicta facere magnam minus consequatur quod nostrum, nihil sunt fugiat!</p>


<p>
This is the message coming from the child: {{message}}
</p>

</div>